@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #6a0dad;
    --secundary-color: #00c853;
    --grey: #efefef;
    --white: #ffffff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: Elms Sans, sans-serif;
}

body {
    height: 100%;
    background-color: var(--grey);
}

header, footer, nav, .nav-login, .banner, .produtos {
    display: flex;
}

header {
    width: 100vw;
    height: 12vh;
    padding: 0 5vw;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--white);

    #find {
        width: 40vw;
        height: 4vh;
        border: none;
        border-radius: 10px;
        font-size: .8vw;
    }

    .nav-login {
        align-items: center;
        gap: .5vw;
    }

    .nav-login img {
        width: 6vh;
        height: 6vh;
        border-radius: 50%;
    }

    nav {
        width: 50%;
        justify-content: space-around;
    }
}

a {
    color: var(--white);
    text-decoration: none;
    font-size: 1vw;
}

button {
    background-color: var(--secundary-color);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: var(--white);
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.01);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.banner {
    flex-direction: column;
    align-items: center;
    padding: 10vh 0;
    background-color: var(--white);
}

.produtos {
    flex-direction: column;
    padding: 4vh 0;
    padding: 5vh 2vw;
    gap: 3vh;
}

footer {
    justify-content: center;
    font-size: small;
    padding: 1vh 0;
    background-color: var(--primary-color);
    color: var(--white);
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.carrinho {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
